.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    color: var(--color-dark);
    padding: 4vw;
    box-shadow: inset 0 7px 11px 0 rgba(0, 0, 0, 0.15);
}

.localisation-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
    fill: var(--color-dark);
}

.localisation-title {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Restaurant book section */

.restaurant-book {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 4rem;
}

.restaurant-book-title {
    font-size: 4rem;
    font-weight: bold;
    padding: 0 5rem;
    margin: 0 auto 2rem;
    text-align: center;
}

.restaurant-book-text {
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
}

/*transition: all 0.3s ease-in-out;*/

.restaurant-book-button {
    border: none;
    border-radius: 4rem;
    background: linear-gradient(175deg, var(--color-secondary) 0%, var(--color-primary) 100%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 2.5rem 4rem;
    margin: 5rem 0 3rem;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

/* Operation Section */

.operation {
    padding: 4rem 3rem;
}

.operation-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 5rem;
}

.operation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box:nth-child(3) {
    background-color: rgba(147, 86, 220, 0.15);
}

.box:nth-child(3) .box-icon {
    fill: var(--color-primary);
}

.box {
    background-color: #f6f6f6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    padding: 0 3rem;
    margin-bottom: 4rem;
    width: 90%;
    height: 10rem;
    box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.19);
}

.box-badge {
    background-color: var(--color-primary);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1.25rem;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fff;
}

.box-icon {
    position: absolute;
    left: 5rem;
    width: 3rem;
    height: 3rem;
    fill: var(--color-dark);
}

.box-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

/* Restaurant Section */

.restaurants {
    background-color: red;
    padding: 4rem 3rem;
}

.restaurants-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 3rem 0 5rem;
}

.restaurant-box {
    border-radius: 2rem;
    position: relative;
    width: 90%;
    height: 10rem;
}

.restaurant-box-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.restaurant-box-footer {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 10rem;
    padding: 2.25rem 2rem;
}

.restaurant-box-description-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.restaurant-box-description-description {
    font-size: 1.5rem;
}