:root {
    --color-primary: #9356dc;
    --color-secondary: #ff79da;
    --color-tertiary: #99e2d0;
    --color-dark: #353535;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h3, h4, h5, h6 {
    font-family: 'Shrikhand', cursive;
}

.header-title {
    font-size: 5rem;
    font-weight: bold;
    margin: 2vh 0;
    text-align: center;
}

footer {
    background-color: var(--color-dark);
    width: 100%;
    padding: 1.5vh 2vh;
}

.footer-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
}

.footer-links {
    list-style-type: none;
}

.link-item {
    font-size: 1.5rem;
    margin: 1vw 0;
    display: flex;
    align-items: center;
}

.link-item a {
    color: #fff;
    text-decoration: none;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    fill: #fff;
}