$animation_time: 1s;
$margin_size: 1.5rem;

.box {
    overflow: hidden;
    background-color: map-get($colors, white);
    border-radius: 2rem;
    margin: $margin_size 0 calc($margin_size * 2);
    display: flex;
    justify-content: space-between;
    box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.19);
    animation: move $animation_time;
    height: 10rem;

    .box-description {
        width: 100%;
        margin: $margin_size;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .box-desc {
            width: 100%;  
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .box-price {
        display: flex;
        align-items: flex-end;
        font-size: 2rem;
        font-weight: bold;
        color: map-get($colors, dark);
        margin-right: $margin_size;
    }

    .box-badge {
        @include center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-color: map-get($colors, tertiary);
        display: none;
        width: 25%;
        height: 100%;

        .badge {
            fill: map-get($colors, white);
            animation: rotate $animation_time;
        }
    }

    &:hover {

        .box-badge {
            animation: logo $animation_time linear;
            display: flex;
        }
    }
}

@keyframes logo {
    from {
        width: 0;
        transform: translateX(10rem);
    }
    to {
        width: 25%;
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}