.card {
    background-color: map-get($colors, white);
    border-radius: 2rem;
    box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35rem;
    margin: 3rem 0;
    text-decoration: none;
    color: map-get($colors, black);

    .card-picture-container {
        width: 100%;
        height: 25rem;
        position: relative;

        .new {
            position: absolute;
            width: 13rem;
            height: 4.5rem;
            background-color: $lime-light-color;
            color: $lime-color;
            font-size: 2rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .5rem;
            right: 2rem;
            top: 2rem;
            box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.25);
        }

        .card-picture {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-footer {
        background-color: #fff;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.5rem;
        width: 100%;
        height: 10rem;

        .card-description-title {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 0.25rem;
        }

        .card-description-description {
            font-size: 2rem;
        }
    }

    .card-icon {
        fill: map-get($colors, dark);
    }
}