.item {
    background-color: map-get($colors, light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 0 3rem;
    margin-bottom: 2rem;
    width: 100%;
    min-width: 290px;
    height: 6rem;
    box-shadow: 7px 8px 20px 8px rgba(0, 0, 0, 0.19);

    &:hover {
        background-color: rgba(147, 86, 220, 0.15);

        .item-icon {
            fill: map-get($colors, primary);
        }
    }

    .item-badge {
        @include center;
        background-color: map-get($colors, primary);
        position: absolute;
        left: -1rem;
        border-radius: 100%;
        height: 2rem;
        width: 2rem;
        text-align: center;
        font-weight: 400;
        font-size: 1.25rem;
        color: map-get($colors, white);
    }

    .item-icon {
        fill: map-get($colors, dark);
        width: 2rem;
        height: 2rem;
    }

    .item-title {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: 5%;
    }
}