$colors: (
    primary: #9356dc,
    secondary: #ff79da,
    tertiary: #99e2d0,
    dark: #353535,
    light: #f6f6f6,
    white: #fff,
    black: #000,
);

$lime-light-color: #99e2d0;
$lime-color: #008766;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}